:root {
    --primary-color: #34B402;
    --primary-light-color: #44E605;
    --dark-color: #363636;
    --light-color: #FFFFFF;
    --light-gray-color: #E3E3E3;
  }

.cta{
    height: 120px;
    margin-top: 25px;
    padding-top: 45px;
}

.graph-1-container{
    position: relative;
    margin-top: 25px;
    height: 120px;
}

.graph-1{
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw ;
    background: url("../images/grafismo.png") top left no-repeat;
    height: 120px;
}

.graph-2-container{
    position: relative;
    margin-top: 25px;
    height: 120px;
}

.graph-2{
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw ;
    background: url("../images/grafismo-2.png") top right no-repeat;
    height: 120px;
}

#main{
    background-color: turquoise;
    font-family: 'Barlow', sans-serif;
    color: var(--light-color);
    background: linear-gradient(0deg, rgba(85,92,92,1) 0%, rgba(37,39,41,1) 33%, rgba(21,21,23,1) 100%);
}

#intro {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    background: url("../images/bg-intro.png") no-repeat center center;
}

#dados {
    padding-top: 90px;
    padding-bottom: 90px;
}

#dados p{
    font-size: 1.15em;
    line-height: 1.75em;
    text-align: center;
}

#intro h1{
    margin-bottom: 45px;
    font-weight: 800;
}

#intro h2{
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 800;
    margin-bottom: 45px;
}

#intro span{
    color: #44E605;
}

#intro .btn-cta{
    text-decoration: none;
    color: var(--primary-light-color);
    margin-bottom: 45px;
    display: inline-block;
}

#stats{
    text-align: center;
    color: var(--dark-color);
    background-color: var(--light-gray-color);
    padding: 90px 0;
}

#stats img{
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 26px 0px rgba(0,0,0,0.25);
    border-radius: 50%;
}

#stats span{
    display: block;
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    line-height: 1em;
}

#stats .counter{
    display: inline-block;
}

#stats span.bg{
    font-size: 3em;
}

#stats p{
    margin-top: 16px;
    margin-bottom: 90px;
}

#manifest{
    padding: 90px 0;
    color: var(--light-color);
    background:  var(--dark-color) url("../images/bg-manifesto.png") no-repeat right bottom;
    background-size: 50%;

}

#manifest h3{
    text-align: center;
    font-weight: 800;
    color: var(--primary-color);
}

#manifest h2{
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 800;
    margin-bottom: 90px;

}

#manifest p{
    font-size: 1.15em;
    line-height: 1.75em;
}

#manifest .btn-cta{
    text-decoration: none;
    color: var(--primary-light-color);
    margin-top: 45px;
    display: inline-block;
}

#midia{
    padding: 90px 0;
    color: var(--dark-color);
    background: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(227,227,227,1) 75%, rgba(227,227,227,1) 100%);
}

#midia h2{
    text-align: center;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 800;
    margin-bottom: 45px;
    color: var(--primary-color);
}

#midia .about{
    padding-top: 90px;
}

#midia .about p{
        font-size: 1.15em;
        line-height: 1.75em;
        text-align: center;
        color: var(--light-color);
}

#midia .about h2{
    color: var(--light-color);
}

.card-midia .content{
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 45px;
}

.card-midia .content h4{
    font-size: 1.25em;
        line-height: 1.75em;
        color: var(--primary-color);
        font-weight: 800;
}

.card-midia .content p{
    font-size: 1.15em;
    line-height: 1.75em;
    font-weight: 800;
}

.card-midia .content span{
    font-size: 1.15em;
    line-height: 1.75em;
    display: block;
}

.card-midia .content .btn-cta{
    font-size: 1.15em;
    line-height: 1.75em;
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    margin-top: 25px;
    display: inline-block;
}

.tns-nav{
    text-align: center;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: var(--light-color);
    border: 0;
}


.tns-nav > .tns-nav-active {
    background: var(--primary-light-color);
    margin-top: 25px;
}

#parceiros{
    padding: 90px 0;
    text-align: center;
    background-color: var(--light-color);
}

#parceiros .parceiro{
    margin-bottom: 45px;
}

#parceiros img{
    display: inline-block;
}

#parceiros span{
    display: inline-block;
    color: var(--dark-color);
    /* background-color: var(--primary-color); */
    padding: 10px 25px;
    border-radius: 500px;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 800;
}

.navbar-brand {
    display: block;
}

.navbar-brand img{
    display: block;
    width: auto;
    height: 40px;
}

.logo{
    width: auto;
    height: 40px;
}

.logo-wrapper{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal p,
.modal ol{
    font-size: 1.15em;
    line-height: 1.75em;
}

.modal h5 {
    text-align: center;
    font-weight: 800;
    color: var(--primary-color);
}